aside{
    float: left;
    width: 30%;
    border: 30%;
    text-align: center;
}
#textB{
    color: #000;
}
a{
    margin: 5px;
    background-color: rgb(138, 154, 247);
    padding: 10px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    font-size:medium;
    

}
section{
    float: right;
    width: 70%;
    background-color: #dfdde7;
}
aside img{
    height: 250px;
    border-radius: 70%;
    display: block;
    margin: 0px auto;

}
img{
    height: 250px;
}

p{
    color: #faf4fa;
}
body{
    margin:5%;
    background-color: rgb(45, 38, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}